@import "tailwindcss";

/* 🎨 Definición de colores personalizados */
@theme {
  --color-app-dark: #323437;     /* 🔲 Fondo principal de la app */
  --color-app-main: #facc15;  /* ⚠️ Amarillo para advertencias */
  --color-app-light: #2c2e30;    /* 🔳 Variación un poco más clara, útil para cards o paneles */
  --color-app-accent: #ff6b6b;   /* ❤️ Color de acento para botones principales o alertas */
  --color-app-muted: #9ca3af;    /* ⚪ Texto secundario / descripciones */
  --color-app-border: #444749;   /* ➖ Líneas divisorias, bordes suaves */
  --color-app-success: #4ade80;  /* ✅ Verde para mensajes de éxito */
  --color-app-error: #ef4444;    /* ❌ Rojo para errores */
}

/* Estilos base */
body {
  @apply bg-app-dark text-white min-h-screen;
}

@layer utilities {
  /* Scrollbar personalizado */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: theme(--color-app-light); /* Gris Tailwind */
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: theme(--color-app-border); /* Azul Tailwind */
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: theme(--color-app-main);
  }
}